.megaContainer {
    background-color: var(--dusk-blue); 
    height: 25rem;
    position: relative;
}
.active, .prevActive, .nextActive{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 25rem;
    display: flex;
    justify-content: space-around;
    overflow: hidden;
    transition: transform 0.5s ease, opacity 0.5s ease;
}
.active {
    transform: translateX(0);
    opacity: 1;
    z-index: 20;
}

.prevActive {
    transform: translateX(-100%);
    opacity: 0;
    z-index: 10;
}

.nextActive {
    transform: translateX(100%);
    opacity: 0;
    z-index: 10;
}
.img{
    position: absolute;
    /* overflow-x: hidden; */
    width: 100dvw;
    height: 100%;
    z-index: 10;
     object-fit: cover;
     object-position: 65% center;  
}
.slide{
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* align-items: baseline; */
    z-index: 20;
}
.title {
    font-size:1.5rem;
    
}
.dscr{
    font-size: 1rem;
}
.slideBtn{
    display: flex;
    /* justify-content: baseline; */
    /* border: 2px solid var(--foreground); */
    color: var(--dusk-blue);
    font-weight: bold;
    font-size: 0.8rem;
    border-radius: 20px;
    width: fit-content;
    padding: 0.5rem;
    z-index: 40;
    margin-bottom: 2rem;
}
.lightText .slideBtn{
    border: 2px solid var(--foreground);
    background: var(--foreground);
    color: var(--dusk-blue);
}

.darkText .slideBtn{
    border: 2px solid var(--dusk-blue);
    background: var(--dusk-blue);
    color: var(--foreground);
}
.lightText {
    color: var(--foreground);
}

.darkText {
    color: var(--dusk-blue);
}

.btnsContainer{
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    z-index: 40;  
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
}
.btnNext, .btnPrev {
    font-size: 2rem;
    pointer-events: auto;
    /* color: var(--glaucous); */
    opacity: 0.8;
}
.btnNext{
    margin-right: 5%;
    
}
.btnPrev{
    margin-left: 5%;
}
.lightArrow {
    color: var(--foreground);
    opacity: 0.85;
}

.darkArrow {
    color: var(--dusk-blue);
    opacity: 0.85;
}
.sliderDots {
    position: absolute;
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    z-index: 20;
    width: 100%;
    bottom: 5%;
}
.dotFilled, .dot{
    font-size: 1rem;
}
.dotFilled{
    color: var(--glaucous);
}
.dot{
    color: var(--dusk-blue)
}

@media screen and (min-width: 992px){
    .megaContainer {
        height: 45rem;  
    }
    .active, .prevActive, .nextActive{
        height: 45rem;
    }

    .title {
    font-size: 3rem;
    margin-bottom: 0.5rem;
}
.dscr{
    font-size: 1.5rem;
}
.slideBtn{
    font-size: 1rem;
}
.btnNext, .btnPrev {
    font-size: 3rem;
}
.dotFilled, .dot{
    font-size: 2rem;
}
}
@media screen and (min-width: 2000px) {
       .megaContainer {
        height: 55rem;  
    }
    .active{
        height: 55rem;
    }
}